body
{
    background-image: url("images.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.txt{
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 70px;
}
#a{
    margin-left: 400px;
}
label
{
    font-size: 20px;
}
.btn{
    background-color: blue;
    padding-left: 20px;
    padding-right: 20px;
}
#res
{
    padding: 50px;
    margin-top: 5%;
    background-color: blue;
    display: none;
    text-align: center;
    margin-right: 35%;
    margin-left: 35%;
}